

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.curser {

    display: none;
}

.curser2 {

    display: none;
}

body {

    height: 100%;
    width: 100%;
}


main {

    width: 100%;
    height: 100%;
}

.btnbackmain {
    padding: 15px 40px 15px 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(60, 60, 60);
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.3s ease-in;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-left: 10px;
    margin-top: 20px;
}



.all {

    display: block;
}

.box2right {

    display: none;
}


.boxleft {

    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    justify-content: center;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 150px;

}

.box11 {

    height: 50px;
    width: 95%;
    background-color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

}



.box11 a {

    display: flex;
    text-decoration: none;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.box11:hover {

    background-color: white;

}

.box11 img {

    height: 15px;
    width: 15px;

}


.box11 i {

    color: black;
    font-size: 1rem;
}

.box11 h4 {

    font-size: 0.9rem;
    color: black;
    font-weight: 540;

}

.box1left {

    display: none;
}

.boxright {

    height: 250px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.text {

    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
    margin-top: 40px;
}

footer {

    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.159);
    margin-top: 0px;
}

.footer-text {

    display: block;
    row-gap: 30px;
    text-align: center;
}

.footer-text h3 span {

    color: white;
}

.footer-text h3 {

    font-size: 1rem;
    font-weight: 500;
    color: rgb(124, 127, 130);
}